.idea
/.cache/
__pycache__/
*.Rhistory
*.pyc
*.DS_Store
*.so
*.c
/jupyter_notebooks/.ipynb_checkpoints/
/particlesim/*.html
/build/
/dist/
/particlesim.egg-info/
/particlesim/logs/*
/example/example_config.cfg
/example/*.cfg
/particlesim/log/*.cfg